<ion-content [fullscreen]="true">
  <div class="alert alert-danger" role="alert" *ngIf="showErrorAlert">
    Error al realizar el registro
  </div>


  <div class="container-fluid py-2 px-3">
    <div class="row">
        <div class="col-sm-12">
            <ion-card [autofocus]="true">
                <ion-card-header>
                    <div class="row">
                        <div class="col-sm-6 col-md-8">
                            <h4 class="text-mont pl-3 pt-3">Registro</h4>
                        </div>
                    </div>
                </ion-card-header>
                <ion-card-content>
                  <div class="image-content mt-3">
                    <cp-image-lighbox [url]="urlImage" (image)="getImage($event)"></cp-image-lighbox>
                  </div>
                  <form [formGroup]="registerForm" class="mt-5">
                    <div class="row">
                      <div class="col-sm p-0">
                        <ion-grid fixed>
                          <ion-row>
                            <ion-col size="6">
                              <div class="form-group">
                                <ion-label for="firstName" class="form-label">Primer Nombre</ion-label>
                                <ion-input type="text" maxlength="40" formControlName="first_name" class="form-control" id="firstName" placeholder="Juan"  />
                              </div>
                            </ion-col>
                            <ion-col size="6">
                              <div class="form-group">
                                <ion-label for="secondName" class="form-label">Segundo Nombre</ion-label>
                                <ion-input type="text" maxlength="40" formControlName="second_name" class="form-control" id="secondName" placeholder="Perez"  />
                              </div>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                        <div class="col-sm-12 col-md-6">
                          <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                              <ion-label for="lastName" class="form-label">Apellido</ion-label>
                              <ion-input type="text" maxlength="40" formControlName="last_name"  class="form-control" id="1038453245" placeholder="Perez"  />
                            </div>
                          </div>
                            <div class="col-sm-12 col-md-6">
                              <div class="form-group">
                                <ion-label for="numberDoc" class="form-label">Número de documento</ion-label>
                                <ion-input type="text" maxlength="20" formControlName="number_document"  class="form-control" id="1038453245" placeholder="100321345"  />
                              </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                            </div>
                            <div class="col-sm-12 col-md-6">
                              <div class="form-group">
                                <ion-label for="address" class="form-label">Dirección</ion-label>
                                <ion-input type="text" formControlName="address" maxlength="100" class="form-control" id="address" placeholder="Calle 17 a"  />
                              </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                              <ion-grid fixed>
                                <ion-row>
                                  <ion-col size="6">
                                    <ion-select aria-label="fruit" placeholder="Genero" formControlName="gender">
                                      <ion-select-option [value]="item.value" *ngFor="let item of genderList">{{item.key}}</ion-select-option>
                                    </ion-select>
                                  </ion-col>
                                  <ion-col size="6">
                                    <ion-select aria-label="fruit" placeholder="Tipo documento" formControlName="type_document">
                                      <ion-select-option  [value]="item.value" *ngFor="let item of documentTypeList">{{item.key}}</ion-select-option>
                                    </ion-select>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>
                            </div>
                            <div class="col-sm p-0">
                              <ion-grid fixed>
                                <ion-row>
                                  <ion-col size="6">
                                    <div class="form-group">
                                      <ion-label for="password" class="form-label">Contraseña</ion-label>
                                      <ion-input type="password" maxlength="255" formControlName="password"  class="form-control" id="password" placeholder="******"  />
                                    </div>
                                  </ion-col>
                                  <ion-col size="6">
                                    <div class="form-group">
                                      <ion-label for="phone" class="form-label">Telefono</ion-label>
                                      <ion-input type="text" maxlength="15" formControlName="phone" class="form-control" id="secondName" placeholder="32543123"  />
                                    </div>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>
                            </div>
                        </div>
                        <div class="text-center  my-3">
                            <ng-container *ngIf="_isLoad | async as _isLoad">
                              <ion-button fill="solid" shape="round" (click)="saveUser()">
                                Registrate
                              </ion-button>
                            </ng-container>
                        </div>
                    </div>
                  </form>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
  </div>

</ion-content>

